/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
}

#mainHeading {
    font-size: 40px;
    color: red;
    text-align: center;
    padding: 40px;
    background-color: rgb(179, 235, 203);
    margin-bottom: 20px;
    
}

#subHeading {
    font-size: 20px;
    color: #454647;
}

#testP {
    margin-top: 20px;
}

.funParagraph {
    padding: 10px

}
.color{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}